asgiref             
asttokens           
colorama            
comm                
debugpy             
decorator           
Django              
django-cors-headers 
djangorestframework 
executing           
filelock            
fsspec              
intel-openmp        
ipykernel           
ipython             
jedi                
Jinja2              
jupyter_client      
jupyter_core        
MarkupSafe          
matplotlib-inline   
mkl                 
mpmath              
nest-asyncio        
networkx            
numpy               
packaging           
pandas              
parso               
pillow              
pip                 
platformdirs        
prompt_toolkit      
psutil              
pure-eval           
Pygments            
python-dateutil   
pytz                
pywin32             
pyzmq               
six                 
sqlparse            
stack-data          
sympy               
tbb                 
torch               
tornado             
traitlets           
typing_extensions   
tzdata              
wcwidth    
pywin32         